body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:rgb(213,202,189);
  font-family: 'EB Garamond',serif;
  font-weight: 200;
  font-size: 2em;
  font-stretch: extra-condensed;
}

.container {
    width:100%;
    height: 100vh;
    margin: 0 ; 
    padding:0;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 180px 1fr ;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'footer footer';
}

.item {
    padding:.1em;
    background-color: rgb(255, 255, 255);
}

.sidebar-container{ 
  grid-area: sidebar;
  display:flex;
  flex-direction: column; /* this is what makes it vertical*/
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: rgb(165,189,191);
  padding: 0 30px;
  grid-row: 1/4;
  grid-column-end: 1;
}

.sidebar-container a{
  font-family: 'EB Garamond',sans-serif;
  font-stretch: extra-condensed;
  color:#434343;
  margin: 1em 0;
  font-size:20px;
  font-weight: 500;
  transition: color 0.3s ease;
  display:grid;
  text-align: inline-grid;
}

.sidebar-container a:hover{
  color: rgb(80, 131, 182);
}

.sidebar-container img.home{ /*my little icon*/
  width: 120px;
  height:120px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.main-content{
    font-size: 20px ;
    grid-area: main;
    display:grid;
    /* grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr); */
    gap: 20px;
    padding:0.5em;
    font-family: "Schibsted Grotesk", serif;
    background-color: #fff;
}

.main-content .item-2 {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color:rgb(213,202,189);
    padding: 1em;
    border:5px solid rgb(58,77,81);
    font-family: "Schibsted Grotesk", serif;
    text-transform: uppercase;
}


.header .item-3 {
    grid-column: 1/-3;
    grid-row: 2/3;
    padding: 1;
    font-family: "Schibsted Grotesk", serif;
}

.header{
    grid-area: header;
    display: grid;
    text-align: right;
    background-color: #c6c09d;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 20px;
    font-weight: 100;
    text-align: right
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 22px;
}

 /* Footer styles */
 footer {
  text-align: center;
  padding: 1px;
  /* background-color: #333; */
  color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: rgba(168, 207, 182, 0.941) */
  background-color: rgba(243, 251, 228, 0.940)
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  letter-spacing: 1px;
  font-size:15px;
}


.centered-image {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto;
}

.h1 .item-2 {
    grid-column: 1/-3;
    grid-row: 2/3;
    padding: 1;
}

.item-2 a{
    grid-area:main;
    display:flex;
    padding: 10px; 
    text-align: left;
}

/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  } */


  .column {
    width: 25%;
    margin: 30px;
    gap: 20px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
    /* background-color:rgb(213,202,189); */
    padding: 0.8em;
    /* margin: 20px; */
    border:5px solid rgb(58,77,81);
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .gallery-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust the width of the container */
    max-width: 1200px; /* Increase the maximum width */
    height: auto; /* Allow the height to adjust based on the image */
    max-height: 90vh; /* Limit the height to 90% of the viewport height */
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    overflow: auto; /* Add scrollbars if the content overflows */
}

.gallery-container img {
    max-width: 100%; /* Image can take up the full width of the container */
    max-height: 80vh; /* Limit the height of the image */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(63,97,132);
    font-size: 30px;
    font-family: "Schibsted Grotesk", serif;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 20px;
    right: 15px;
    color: rgb(63,97,132);
    font-size: 35px;
    cursor: pointer;
  }